body {
    background-color: black;
}

.Navigator ul {
    list-style: none;
    width: 100%;
    text-align: center;
    background-color: darkred;
    height: 2.5rem;
    padding-top: .2rem;
}

.Navigator li {
    display: inline-block;
    margin: 4px;
}

.Navigator a {
    text-decoration: none;
    color: black;
    background-color: darkgrey;
    padding: .2rem;
    margin: 1rem;
    border-radius: 2px;
}

.Navigator a:hover,
.Navigator a:active {
    background-color: rgb(54, 2, 2);
    color: gray;
}

.Navigator a.my-active-link {
    background-color: goldenrod;
    color: black;
}

.Navigator a.battle-net-login-button {
    background-color: slategray;
    color: white;
}

.Navigator a.logged-in-button {
    color: white;
    background-color: rgb(49, 88, 215);
    border-radius: 5px;
    padding: .2rem .5rem;
    box-shadow: 1pt 1pt 0 2pt grey;
}

.short {
    margin: 0 1rem;
    padding: 0 1rem;
}