.CreateSets {
    margin: 2rem;

}

.formLabel {
    color: white;
    margin-top: 1rem;
    margin-bottom: 0;
}

.add-set-button {
    margin-top: 2.3rem;
    padding: .5rem;
    background-color: green;
    color: white;
    border-radius: 5px;
}

.green {
    background-color: rgb(145, 237, 145);
}